<section class="hero">
  <div class="hero-text">
    <h1>Ideal Innovation House</h1>
    <h4>Element serie</h4>
    <p>
      Your skills and enthusiasm will contribute to our shared journey of growth
      and accomplishment. Explore exciting opportunities and join our thriving
      team today.
    </p>
    <a href="/login" class="btn">Go To Login Page</a>

    <div class="hero-in">
      <div class="home-box">
        <h3>Business</h3>
        <h5>Strategy</h5>

        <img src="../assets/service-icon-01.png" alt="" />
      </div>

      <div class="home-box">
        <h3>SEO</h3>
        <h5>Tips</h5>

        <img src="../assets/service-icon-04.png" alt="" />
      </div>

      <div class="home-box">
        <h3>Frontend</h3>
        <h5>Development</h5>

        <img src="../assets/service-icon-03.png" alt="" />
      </div>
    </div>
  </div>

  <div class="hero-img">
    <img src="../assets/heroo.png" alt="" />
  </div>
</section>
